* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  background-color: black;
}

body {
  display: grid;
  height: 100vh;
  justify-content: center;
  align-content: center;
}

.App {
  color: hsla(0, 0%, 100%, 0.85);
  background: radial-gradient(circle, hsl(0, 0%, 10%) 0%, hsl(0, 0%, 20%) 100%);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-shadow: 3px 3px 1px hsla(0, 0%, 0%, 1);
  
  padding: 20px 40px;

  min-width: 100px;

  display: grid;
  justify-items: center;
  row-gap: 20px;

  border: 2px solid hsla(0, 0%, 100%, 0.85);
  border-radius: 10px;
}

.logo {
  animation: rotation 2s infinite linear;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

.from {
  font-size: 0.9rem;
}

.emoji {
  display: block;
  text-align: center;
  transition: 0.50s;
  cursor: pointer;
  font-size: 2rem;
}

.emoji:hover,
.emoji:focus {
  transition: 0.50s;
  transform: rotate(180deg);
}

.small {
  font-size: 0.8rem;
}

.button {
  padding: 10px 20px;
  border: 2px solid hsl(190, 100%, 90%);
  border-radius: 10px;

  background: radial-gradient(circle, hsl(190, 100%, 50%) 0%, hsl(190, 100%, 70%) 100%);

  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;

  transition: 0.5s;
}

.button:hover {
  border: 2px solid hsl(190, 100%, 60%);
  transition: 0.5s;
}

.count {
  font-weight: 600;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}